name: Build APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build APK
      uses: ArtemSBulgakov/buildozer-action@v1
      with:
        work-dir: ./
        buildozer-version: stable
    - uses: actions/upload-artifact@v2
      with:
        name: package
        path: ./*.apk
